/* Reset & global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding-bottom: 50px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #007bff;
}

/* Header and nav */
header {
    background-color: #01771b;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  color: bisque;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
}
nav a {
  color: #faefef;
  margin-right: 5px;
  font-weight: 100;
  padding-right: 10px;
}
#userLinks {
  font-weight: bold;
}

/* Hero section */
.hero {
  background: #8e23ff;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 36px;
  margin-bottom: 5px;
  color: rgb(242, 255, 0);
}
.hero p {
  font-size: 15px;
  margin-bottom: 20px;
}
.hero .btn {
  background-color: #e48201;
  color: #000000;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
}
h2{
  color: #ed4c02;
  padding-top: 30px;
}
/* Featured products */
.featured-products {
  padding: 40px 20px;
  text-align: center;
}
.featured-products h2 {
  margin-bottom: 20px;
}
.product-grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  
  max-width:400px;
  margin: auto;
}
.product-card {
    height: 90px;;
    width: 400px;
    background-color: #fffcfc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin: 2px;
}
.product-card img {
  padding: 3px;             
  width: 90px;
  height: 87px;
}


.product-details{
   width: 220px;
   height: 80px;
   text-align: left;  
   padding-left: 5px; 
}

.product-card h3{
 padding-left: 4px;
  text-align: left;
  font-size:12px;
  color: #0000007f;
}
.product-card p {
  padding-bottom: 1px;
  font-weight: 10px;
  color: #0000007f;
}

.product-price{
               width: 150px;
               height: 100%;
               text-align: left;
              
}


.product-card button {
  
  padding: 5px 10px;
  background-color: #01771b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product-card button:hover {
  background-color: #0056b3;
}








footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eee;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid #ccc;
}
